h1{
color: red;
    }
ul{
    list-style-type:none;
}
.item {
    color: maroon;
}
body{
background-image: url(http://files.gamebanana.com/img/ico/sprays/572528ec5c5dd.gif);
    
}
body
{
   display: block
   

    
}